.transaction-edit-container {
  height: 50vh;
}

.container {
  margin-top: 10px;
  margin-bottom: 30px;
}

.mat-slide-toggle.full-width {
  margin-top: 15px;
  margin-bottom: 15px;
}

.full-width {
  width: 100%;
}
