<div class="align-items-center h-50">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <div class="alert alert-danger" role="alert" *ngIf="submitted">
          Username or password is incorrect
        </div>
        <mat-card>
          <h3 class="text-center">Login</h3>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="w-100">
              <input type="text" matInput placeholder="Username" formControlName="username">
              <mat-error *ngIf="data.username.errors?.required">Username is required</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100">
              <input type="password" matInput placeholder="Password" formControlName="password">
              <mat-error *ngIf="data.password.errors?.required">Password is required</mat-error>
            </mat-form-field>
            <div class="form-group mt-4">
              <button mat-raised-button color="primary">Login</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <div class="alert alert-danger" role="alert" *ngIf="submitted">
          Username or password is incorrect
        </div>
        <mat-card><b>User access--</b> Username: <b>user</b>; Password: <b>user</b> <br>
          <b>Admin access--</b> Username: <b>admin</b>; Password: <b>admin</b></mat-card>
      </div>

    </div>
  </div>
</div>

