<div class="align-items-center h-50">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <mat-card>
          <h3 class="text-center">Customer form</h3>

          <mat-form-field appearance="fill">
            <mat-label>Input</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Select</mat-label>
            <mat-select>
              <mat-option value="one">First option</mat-option>
              <mat-option value="two">Second option</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Textarea</mat-label>
            <textarea matInput></textarea>
          </mat-form-field>

        </mat-card>

      </div>
    </div>
  </div>
</div>
