<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="navigate()">Transaction-Home</a>
      <a mat-list-item routerLink="customer-form">Customer Form</a>
      <a mat-list-item routerLink="table">Table</a>
      <a mat-list-item routerLink="admin">User Profile</a>
      <a mat-list-item color="accent" (click)="logout()"
         *ngIf="isLoggedIn$ | async as isLoggedIn;else other">Log Out</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">

      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button mat-mini-fab><mat-icon >eco</mat-icon></button>
      <div class="spacer"></div>

      <div *ngIf="!(isHandset$ | async)">
        <a mat-raised-button color="primary" class="example-button-row" routerLink="transaction/home">Transaction-Home</a>
        <a mat-raised-button color="primary" class="example-button-row" routerLink="customer-form"> Customer Form</a>
        <a mat-raised-button color="primary" class="example-button-row" routerLink="table"> Table</a>
        <a mat-raised-button color="primary" class="example-button-row" routerLink="admin"> User Profile</a>
        <a mat-raised-button color="accent" class="example-button-row" (click)="logout()" *ngIf="isLoggedIn$ | async as isLoggedIn;else other">Log Out</a>
      </div>

      <ng-template #other>
        <a mat-raised-button color="accent" routerLink="auth/login">Log In</a>
      </ng-template>
    </mat-toolbar>

    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
